.titulo{
    text-align: center;
}

.row{

    display:flex; 
    justify-content:center;
}

.footer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.footer button{

    width:10%;
    
}
.boton123{
    display: flex;
    justify-content: center;
}